//mixins (These are awesome, they "mix in" your commonly used styles to other classes)
@mixin flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@mixin addBorder {
  border-left: 1vw solid $brown;
  border-right: 1vw solid $brown;
  border-top: 1vw solid $brown;
  border-bottom: 1vw solid $brown;
}


//change these variables to alter the text shadow
$shadowColor: $brown;
$shadowOffset: 0.2vmin;

@mixin textShadow {
  text-shadow: -0.4vmin (-1 * $shadowOffset) 0 $shadowColor, $shadowOffset (-1 * $shadowOffset) 0 $shadowColor,
    (-1 * $shadowOffset) $shadowOffset 0 $shadowColor, $shadowOffset $shadowOffset 0 $shadowColor;
}

@mixin addPadding {
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
}